<template lang="pug">
  v-footer(absolute fixed padless app)
    v-card.flex(flat tile)
      v-card-title
        v-btn(
          v-for="contact in AuthorContacts"
          :key="contact.url"
          :href="contact.url"
          small icon
          :color="contact.color"
        )
          v-icon {{contact.icon}}
        v-spacer
        .text-right.author Автор:
          span.initials.ml-1 {{AuthorName}}
</template>

<script>
  export default {
    name: 'custom-footer',
    computed: {
      AuthorName() {
        return this.$store.getters.AuthorData.name
      },
      AuthorContacts() {
        return this.$store.getters.AuthorData.contacts
      }
    }
  }
</script>

<style scoped>
  .author {
    font-size: 12px;
    color: #797979;
  }

  .author > .initials {
    text-decoration: underline;
  }
</style>
