<template lang="pug">
  v-layout(row wrap justify-center align-center fill-height)
    v-skeleton-loader(
      :loading="loading"
      ref="skeleton"
      type="list-item"
      transition-group="scale-transition"
      width="300"
      :class="{'skeleton-loader': loading}"
    )
      v-btn(block text dense color="info" @click="load").mb-4 Обновить данные
      v-expansion-panels(v-model="activePanel" inset).mb-3
        v-expansion-panel(
          v-for="valute in currentPageItems"
          :key="valute.CharCode"
        )
          v-expansion-panel-header.text--center {{valute.Name}}
          v-expansion-panel-content
            exchange(v-bind="valute")
      v-layout(justify-center)
        v-flex
          v-pagination(
            v-if="pages.length > 1"
            v-model="currentPage"
            :length="pageCount"
            :total-visible="totalVisible"
          ).mt-3
        v-flex
          v-select.select-page-items-count(v-model="perPage" :items="[5, 10, 15]")
</template>

<script>
import xmlToJson from 'xml-to-json-stream'
import LoadMixin from '../mixins/LoadMixin'
import PaginationMixin from '../mixins/Pagination'
import LazyComponents from 'apps/common/LazyComponents'

export default {
  name: 'custom-main',
  mixins: [LoadMixin, PaginationMixin],
  components: {
    Exchange: LazyComponents.Exchange
  },
  data() {
    return {
      dirtyItems: [],
      items: [],
      activePanel: null
    }
  },
  watch: {
    dirtyItems(newVal, oldValue) {
      if (newVal !== oldValue) {
        this.setupItems()
      }
    },
    currentPage(newVal) {
      this.activePanel = null
    },
    perPage(newVal) {
      this.setupItems()
    }
  },
  methods: {
    mounted() {
      this.dirtyItems = []
      this.items = []
      this.pages = []
      this.beforeLoad()
    },
    setupItems() {
      const parser = xmlToJson({attributeMode: false})
      parser.xmlToJson(this.dirtyItems, (error, json) => {
        if (error) {
          this.$logError(error)
        }
        if (json) {
          this.items = json.ValCurs.Valute
        }
      })
      this.pages = this.$_.chunk(this.items, this.perPage)
      this.currentPageItems = this.pages[this.currentPage - 1]
    },
    async load() {
      this.currentPage = null
      this.beforeLoad()
      try {
        const response = await this.$ajax.get(this.$apiPath)
        this.dirtyItems = response.data
        this.currentPage = 1
        this.afterLoad()
      } catch (e) {
        this.$logError(e)
      }
    }
  }
}
</script>

<style>
.skeleton-loader {
  animation: skeleton-loader-animation 4s infinite ease-in-out;
}

@keyframes skeleton-loader-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.select-page-items-count {
  width: 55px;
}

</style>
