<template lang="pug">
  v-card(shaped flat)
    v-card-text
      v-text-field(
        v-model="valute"
        @input="conversion(true)"
        ref="valuteField"
        :label="Name"
        :rules="numberRules"
        required
      )
      v-text-field(
        v-model="ruble"
        @input="conversion(false)"
        ref="rubleField"
        label="Рубль"
        :rules="numberRules"
        required
      )
</template>

<script>
  export default {
    props: {
      CharCode: {
        type: String,
        required: true
      },
      Name: {
        type: String,
        required: true
      },
      Nominal: {
        type: String,
        required: true
      },
      NumCode: {
        type: String,
        required: true
      },
      Value: {
        type: String,
        required: true
      }
    },
    name: 'exchange',
    data() {
      return {
        ruble: null,
        valute: null,
        precision: 5
      }
    },
    mounted() {
      this.ruble = this.toNumber(this.Value)
      this.valute = this.toNumber(this.Nominal)
    },
    methods: {
      conversion(convertRuble = true) {
        if (this.isRubleFieldValid && this.isValuteFieldValid) {
          if (convertRuble) {
            this._convertRuble()
            this.valute = this.$_.round(this.valute, this.precision)
          } else {
            this._convertValute()
            this.ruble = this.$_.round(this.ruble, this.precision)
          }
        }
      },
      toNumber(value) {
        return this.$_.toNumber(this.$_.replace(value, ',', '.'))
      },
      _convertRuble() {
        const courseRuble = this.toNumber(this.Value)
        const courseValute = this.toNumber(this.Nominal)
        const currentValute = this.toNumber(this.valute)
        this.ruble = this.$_.round(
          (currentValute * courseRuble) / courseValute, this.precision
        )
      },
      _convertValute() {
        const courseRuble = this.toNumber(this.Value)
        const courseValute = this.toNumber(this.Nominal)
        const currentRuble = this.toNumber(this.ruble)
        this.valute = this.$_.round(
          (courseValute * currentRuble) / courseRuble, this.precision
        )
      }
    },
    computed: {
      isRubleFieldValid() {
        return !!this.$refs.rubleField.valid
      },
      isValuteFieldValid() {
        return !!this.$refs.valuteField.valid
      },
      numberRules() {
        return [
          value => !!value || 'Значение не должно быть пустым.',
          value => /^(?!a\-zA\-Z$)(.*)$/.test(value) || 'Поддерживаютя только числа, запятая и точка.'
        ]
      }
    }
  }
</script>
