<template lang="pug">
  v-container(id='main')
    v-app
      v-main
        custom-main
      custom-router-view
      custom-footer
</template>

<script>
  import LazyComponents from 'apps/common/LazyComponents'
  import CustomRouterView from 'apps/components/CustomRouterView'

  export default {
    name: 'app',
    components: {
      CustomFooter: LazyComponents.CustomFooter,
      CustomMain: LazyComponents.CustomMain,
      CustomRouterView
    },
    mounted() {
      this.$root.$on('title-replace', title => { document.title = title })
    }
  }
</script>

